.page-cadastro-financas {
    width: 100%;
    height: 100%;
}

.main {
    width: 35%;
    height: 70%;
    background-color: white;
    margin-left: 32.5%;
    margin-top: 7vh;
    overflow: auto;
}

.titulo {
    width: 80%;
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.titles {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.price {
    display: flex;
    justify-content: inherit;
    align-content: space-around;
    flex-direction: column;
}


.headerGastosFinancas {
    width: 100%;
    height: 100px;
    background-color: #F3DC68;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font: 400 150% 'Archivo', sans-serif;
    color: #000;
}

.headerGastosFinancas text {
    margin-left: 20px;
}

.headerGastosFinancas label {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}


.saldo {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}


.addGastos {
    width: 100%;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
}

.deleteEdit {
    width: 100vw;
    height: 40px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

}

.deleteEdit button {
    position: relative;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.saldo {
    width: 20%;
    height: 30%;
    background-color: white;
    display: flex;
    align-items: flex-start;
    align-content: space-between;
    justify-content: space-evenly;
    flex-direction: column;
    position: absolute;
    bottom: 50%;
    margin-left:2% ;
}
.pagamentos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.filter {
    width: 20%;
    height: 30%;
    background-color: white;
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: space-evenly;
    flex-direction: column;
    position: absolute;
    bottom: 10%;
    margin-left:2% ;
}

.filter input {
    position: relative;
    width: 60%;
    height: 15%;
    border: none;
    margin: 10px 20%;
}
